---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "sass:color";

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: color.adjust($grey-color, $lightness: -25%);

$table-text-align: left;
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * 0.5;
}

main {
  display: block;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: color.adjust($brand-color, $lightness: -15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit * 0.5;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit * 0.5;
    padding-left: $spacing-unit * 0.5;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: color.adjust($text-color, $lightness: 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;

  tr {
    &:nth-child(even) {
      background-color: color.adjust($grey-color-light, $lightness: 6%);
    }
  }

  th, td {
    padding: ($spacing-unit * 0.3333333333) ($spacing-unit * 0.5);
  }

  th {
    background-color: color.adjust($grey-color-light, $lightness: 3%);
    border: 1px solid color.adjust($grey-color-light, $lightness: -4%);
    border-bottom-color: color.adjust($grey-color-light, $lightness: -12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #eef;
  }

  .c     { color: #998; font-style: italic }
  .err   { color: #a61717; background-color: #e3d2d2 }
  .k     { font-weight: bold }
  .o     { font-weight: bold }
  .cm    { color: #998; font-style: italic }
  .cp    { color: #999; font-weight: bold }
  .c1    { color: #998; font-style: italic }
  .cs    { color: #999; font-weight: bold; font-style: italic }
  .gd    { color: #000; background-color: #fdd }
  .gd .x { color: #000; background-color: #faa }
  .ge    { font-style: italic }
  .gr    { color: #a00 }
  .gh    { color: #999 }
  .gi    { color: #000; background-color: #dfd }
  .gi .x { color: #000; background-color: #afa }
  .go    { color: #888 }
  .gp    { color: #555 }
  .gs    { font-weight: bold }
  .gu    { color: #aaa }
  .gt    { color: #a00 }
  .kc    { font-weight: bold }
  .kd    { font-weight: bold }
  .kp    { font-weight: bold }
  .kr    { font-weight: bold }
  .kt    { color: #458; font-weight: bold }
  .m     { color: #099 }
  .s     { color: #d14 }
  .na    { color: #008080 }
  .nb    { color: #0086B3 }
  .nc    { color: #458; font-weight: bold }
  .no    { color: #008080 }
  .ni    { color: #800080 }
  .ne    { color: #900; font-weight: bold }
  .nf    { color: #900; font-weight: bold }
  .nn    { color: #555 }
  .nt    { color: #000080 }
  .nv    { color: #008080 }
  .ow    { font-weight: bold }
  .w     { color: #bbb }
  .mf    { color: #099 }
  .mh    { color: #099 }
  .mi    { color: #099 }
  .mo    { color: #099 }
  .sb    { color: #d14 }
  .sc    { color: #d14 }
  .sd    { color: #d14 }
  .s2    { color: #d14 }
  .se    { color: #d14 }
  .sh    { color: #d14 }
  .si    { color: #d14 }
  .sx    { color: #d14 }
  .sr    { color: #009926 }
  .s1    { color: #d14 }
  .ss    { color: #990073 }
  .bp    { color: #999 }
  .vc    { color: #008080 }
  .vg    { color: #008080 }
  .vi    { color: #008080 }
  .il    { color: #099 }
}
